<!-- Open graph data -->
<meta property="og:title" content="Piskel - {{ piskel.name }}"/>
{% autoescape off %}
  <meta property="og:image" content="{{piskel.preview_url}}"/>
{% endautoescape %}
<meta property="og:site_name" content="Piskel"/>
<meta property="og:description" content="{%if piskel.description%}{{ piskel.description }} - {%endif%}created with Piskel"/>

<!-- Twitter card -->
<meta name="twitter:card" content="product">
<meta name="twitter:title" content="Piskel - {{ piskel.name }}">
<meta name="twitter:description" content="{%if piskel.description%}{{ piskel.description }} - {%endif%}Created with Piskel">
<meta name="twitter:image:src" content="{{piskel.preview_url}}">
<meta name="twitter:data1" content="{{ owner.name }}">
<meta name="twitter:label1" content="Author">
<meta name="twitter:data2" content="{% if piskel.frames > 1%}{{piskel.frames}} frames{% else %}Single frame{% endif %}">
<meta name="twitter:label2" content="Animation">
<meta name="twitter:domain" content="piskelapp.com">