{% extends "base.html" %}
{% from "partial/macros.html" import render_animated_preview %}

{% block title %}Piskel - {{ piskel.name }}{% endblock %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="/static/css/piskel-app-piskel.css"/>
{% endblock %}

{% block head_end %}
	{% include "social/piskel-opengraph-card.html" %}
{% endblock %}

{% block js %}
	{% if is_author %}
		<script type="text/javascript" src="/static/js/piskel-details-page.js"></script>
	{% endif %}
{% endblock %}

{% block main %}

	<div class="piskel-container">
		<div class="piskel-preview-container inset-container">
			{% if is_author %}{% include "piskel/piskel-details-edit.html" %}{% endif %}
			{{ render_animated_preview(piskel.framesheet_key, 512, piskel.fps, 'true') }}

		</div>
		<div class="piskel-info-container">
			<div style="min-width:500px">
			<h2 class="piskel-name">{{ piskel.name }}</h2>
			by
			<a href="/user/{{ owner.key.id() }}"><img
				title="{{ owner.name }}"
				class="smaller-user-avatar piskel-owner"
				src="{{ owner.avatar_url }}"/></a>
			<a href="/user/{{ owner.key.id() }}">{{ owner.name }}</a>
			<div class="piskel-meta">
				{% if piskel.description %}
					<h4 class="piskel-meta-title">Description</h4>
					<span class="piskel-description">{{piskel.description}}</span>
				{% else %}
					<i>No description</i>
				{% endif %}
			</div>
			<div class="piskel-meta">
				<h4 class="piskel-meta-title">Visibility</h4>
				This sprite is <span class="piskel-privacy">{% if not piskel.private %}public{% else %}private{% endif %}.</span>
			</div>

			{% if is_author %}
			<div class="piskel-meta">
				<h4 class="piskel-meta-title">History</h4>
				{% if framesheets|length > 1 %}
					<span class="piskel-history">{{framesheets|length - 1}} previous version{% if framesheets|length > 2 %}s{% endif %}</span> available for this sprite&nbsp;
					<a class="piskel-button" href="/p/{{piskel.key}}/history">View previous versions</a>
				{% else %}
					No history available for this sprite.
				{% endif %}
			</div>
			{% endif %}

			{% if is_logged_in %}
				<div class="piskel-meta">
					<h4 class="piskel-meta-title">Actions</h4>
					<div class="piskel-details-actions">
						{% if is_author %}
							{% if piskel.deleted %}
								<a      class="piskel-button" href="/p/{{ piskel.key }}/restore?callback_url=/p/{{piskel.key}}/view">Restore</a>
								<button class="piskel-button piskel-button-dangerous" onclick="pskl.website.confirmDestroy('{{piskel.key}}','{{session.user_id}}');">Destroy</button>
							{% else %}
								<button class="piskel-button" onclick="pskl.website.showEditForm();return false;">Edit Info</button>
								<a      class="piskel-button" href="/p/{{piskel.key}}/edit" target="_blank">Edit Sprite</a>
								<a      class="piskel-button" href="/p/{{piskel.key}}/clone">Clone</a>
								<a      class="piskel-button piskel-button-dangerous" href="/p/{{ piskel.key }}/delete?callback_url=/p/{{piskel.key}}/view">Delete</a>
							{% endif %}
						{% else %}
							<a class="piskel-button" href="/p/{{piskel.key}}/clone/view" target="_blank">Clone</a>
							<a class="piskel-button" href="/p/{{piskel.key}}/clone/edit" target="_blank">Clone and Edit</a>
						{% endif %}
					</div>
				</div>
			{% endif %}
		</div>
		</div>
	</div>
{% endblock %}