<div class="assets-container">
  <div class="asset-item">
    <div class="media-container">
      <img class="media-image" src="/static/resources/home/features/feature-live-preview.gif"/>
      <div class="media-body">
        <h4 class="asset-title">Live preview</h4>
        <p class="asset-description">
          Check a preview of your animation in real time as you draw. Adjust the frame delay on the fly.
        </p>
      </div>
    </div>
  </div>
  <div class="asset-item">
    <div class="media-container">
      <img class="media-image" src="/static/resources/home/features/feature-google-sign-in@2x.png"/>
      <div class="media-body">
        <h4 class="asset-title">Google Sign in</h4>
        <p class="asset-description">
          No need to remember yet another password, just use your Google account to sign in.
        </p>
      </div>
    </div>
  </div>
  <div class="asset-item">
    <div class="media-container">
      <img class="media-image" style="background-color: #333" src="/static/resources/home/features/feature-export-gold@2x.png"/>
      <div class="media-body">
        <h4 class="asset-title">Export to GIF, PNG...</h4>
        <p class="asset-description">
          Several export modes supported. Animated GIFs for sharing, spritesheet PNG/ZIP for bigger projects etc&hellip;
        </p>
      </div>
    </div>
  </div>
  <div class="asset-item">
    <div class="media-container">
      <img class="media-image" style="background-color: #aaa" src="/static/resources/home/features/feature-open-source@2x.gif"/>
      <div class="media-body">
        <h4 class="asset-title">Open Source</h4>
        <p class="asset-description">All the code is open-source and available on GitHub.<br/>
          <a href="http://github.com/juliandescottes/piskel" target="_blank">http://github.com/juliandescottes/piskel</a>
        </p>
      </div>
    </div>
  </div>
  <div class="asset-item">
    <div class="media-container">
      <img class="media-image" style="background-color: #333" src="/static/resources/home/features/feature-private-gallery-gold@2x.png"/>
      <div class="media-body">
        <h4 class="asset-title">Private gallery</h4>
        <p class="asset-description">
          You can chose to make any of your sprites public or private.
          Private sprites are only visible to you.
        </p>
      </div>
    </div>
  </div>
  <div class="asset-item">
    <div class="media-container">
      <img
        class="media-image" src="/static/resources/home/features/feature-offline-application.png"/>
      <div class="media-body">
        <h4 class="asset-title">Offline versions</h4>
        <p class="asset-description">Free desktop &amp; offline applications for Windows, OSX and Linux. Checkout the <a href="/download">download page</a>.</p>
      </div>
    </div>
  </div>
</div>