<div class="assets-container">
  <div class="asset-item">
    <div class="media-container">
      <img class="media-image" src="/static/resources/home/2d-guy-walk.gif"/>
      <div class="media-body">
        <h4 class="asset-title">Live preview</h4>
        <p class="asset-description">Piskel gives you a live preview of your work.<br/>
        You no longer have to guess how it will look like when it's done : you see it !</p>
      </div>
    </div>
  </div>
  <div class="asset-item">
    <div class="media-container">
      <img class="media-image" src="/static/resources/home/preview_gif_megaman_small.jpg"/>
      <div class="media-body">
        <h4 class="asset-title">Export to GIF, PNG...</h4>
        <p class="asset-description">Several export modes supported. Animated GIF to share the animations, spritesheet PNG/ZIP for game projects... </p>
      </div>
    </div>
  </div>
  <div class="asset-item">
    <div class="media-container">
      <img class="media-image" src="/static/resources/home/gallery_preview_small.jpg"/>
      <div class="media-body">
        <h4 class="asset-title">Your gallery</h4>
        <p class="asset-description">Keep track of all the sprites you created.<br/>
        Everyone can see your public gallery, but you can keep any sprite you want private.</p>
      </div>
    </div>
  </div>
  <div class="asset-item">
    <div class="media-container">
      <img class="media-image" src="/static/resources/github_octocat.gif"/>
      <div class="media-body">
        <h4 class="asset-title">Open Source</h4>
        <p class="asset-description">All the code is open-source and available on GitHub.<br/>
          <a href="http://github.com/juliandescottes/piskel" target="_blank">http://github.com/juliandescottes/piskel</a>
        </p>
      </div>
    </div>
  </div>
  <div class="asset-item">
    <div class="media-container">
      <img
        class="media-image" style="height: 100px;"
        src="/static/resources/home/piskel-offline-application.png"/>
      <div class="media-body">
        <h4 class="asset-title">Offline versions</h4>
        <p class="asset-description">Free desktop &amp; offline applications are available for Windows, OSX and Linux. Checkout the <a href="https://github.com/juliandescottes/piskel/wiki/Desktop-applications" target="_blank">download page</a>.</p>
      </div>
    </div>
  </div>
</div>