{% from "partial/macros.html" import render_spritesheet %}

<div class="picked-piskels-wrapper">
  <h1 class="picked-piskels-title">Example sprites</h1>
  <span class="picked-piskels-promo">
    Here are some examples of user submitted sprites. Click on a preview to open the sprite in the editor.
  </span>
  <div class="piskels-container">
    <a href="http://www.piskelapp.com/p/agxzfnBpc2tlbC1hcHByEwsSBlBpc2tlbBiAgICAyJ2kCQw/edit" class="piskel-container">
      <div class="picked-preview-container">
        {{ render_spritesheet("megaman", "/static/resources/home/featured/megaman_preview.png", "/static/resources/home/featured/megaman.png", 256, 3) }}
      </div>
      <div class="piskel-meta">
        <b>Megaman</b>
        <img class="piskel-author smaller-user-avatar" title="made by Julian" src="/static/resources/home/featured/julian.jpg">
      </div>
    </a>
    <a class="piskel-container" href="http://www.piskelapp.com/p/agxzfnBpc2tlbC1hcHByEwsSBlBpc2tlbBiAgICf1u3kCAw/edit">
      <div class="picked-preview-container">
        {{ render_spritesheet("panda", "/static/resources/home/featured/panda_preview.png", "/static/resources/home/featured/panda.png", 256, 12) }}
      </div>
      <div class="piskel-meta">
        <b>Panda</b>
        <img class="piskel-author smaller-user-avatar" title="made by Joakim" src="/static/resources/home/featured/joakim.jpg">
      </div>
    </a>
    <a class="piskel-container" href="http://www.piskelapp.com/p/agxzfnBpc2tlbC1hcHByEwsSBlBpc2tlbBiAgICA_eOjCgw/edit">
      <div class="picked-preview-container">
        {{ render_spritesheet("pattern", "/static/resources/home/featured/pattern_preview.png", "/static/resources/home/featured/pattern.png", 256, 12) }}
      </div>
      <div class="piskel-meta">
        <b>Pattern</b>
        <img class="piskel-author smaller-user-avatar" title="made by Vincent" src="/static/resources/home/featured/vincent.jpg">
      </div>
    </a>
    <a href="http://www.piskelapp.com/p/agxzfnBpc2tlbC1hcHByEwsSBlBpc2tlbBiAgICwuvn-Cgw/edit" class="piskel-container">
      <div class="picked-preview-container">
        {{ render_spritesheet("stormtrooper", "/static/resources/home/featured/stormtrooper.png", "/static/resources/home/featured/stormtrooper.png", 256, 1) }}
      </div>
      <div class="piskel-meta">
        <b>Stormtrooper</b>
        <img class="piskel-author smaller-user-avatar" title="made by Julian" src="/static/resources/home/featured/julian.jpg">
      </div>
    </a>
    <a class="piskel-container" href="http://www.piskelapp.com/p/agxzfnBpc2tlbC1hcHByEwsSBlBpc2tlbBiAgIDfmPWVCww/edit">
      <div class="picked-preview-container">
        {{ render_spritesheet("snakes", "/static/resources/home/featured/snakes_preview.png", "/static/resources/home/featured/snakes.png", 156, 18) }}
      </div>
      <div class="piskel-meta">
        <b>Snakes</b>
        <img class="piskel-author smaller-user-avatar" title="made by Patrick" src="/static/resources/home/featured/patrick.jpg">
      </div>
    </a>
    <a class="piskel-container" href="http://www.piskelapp.com/p/agxzfnBpc2tlbC1hcHByEwsSBlBpc2tlbBiAgICfx5ygCQw/edit">
      <div class="picked-preview-container">
        {{ render_spritesheet("llama", "/static/resources/home/featured/llama_preview.png", "/static/resources/home/featured/llama.png", 156, 12) }}
      </div>
      <div class="piskel-meta">
        <b>Llama</b>
        <img class="piskel-author smaller-user-avatar" title="made by Patrick" src="/static/resources/home/featured/patrick.jpg">
      </div>
    </a>
  </div>

<!--   <div class="picked-piskels-actions">
    <span style="font-size: 14px;">Browse more featured sprites in the gallery</span>
    <a class="piskel-button" style="margin-right: 5px;" href="/featured">
      Browse
    </a>
  </div> -->
</div>