<div class="piskels-container">
  <div class="piskel-container">
    <img class="piskel-image" src="http://piskel-imgstore-b.appspot.com/img/d16a5073-221c-11e7-a094-c71a36a87bf0.gif">
    <div class="piskel-meta">
      <b>Genji</b>
      <img class="piskel-author smaller-user-avatar" src="https://lh5.googleusercontent.com/-L6XalTDqfIY/AAAAAAAAAAI/AAAAAAAABXk/pFKVMwxKoa4/photo.jpg">
    </div>
  </div>
  <div class="piskel-container">
    <img class="piskel-image" src="http://piskel-imgstore-b.appspot.com/img/eed73a9e-221c-11e7-bc23-c71a36a87bf0.gif">
    <div class="piskel-meta">
      <b>Hanjo</b>
      <img class="piskel-author smaller-user-avatar" src="https://lh5.googleusercontent.com/-L6XalTDqfIY/AAAAAAAAAAI/AAAAAAAABXk/pFKVMwxKoa4/photo.jpg">
    </div>
  </div>
  <div class="piskel-container">
    <img class="piskel-image" src="http://piskel-imgstore-b.appspot.com/img/11575b9e-221d-11e7-87a1-c71a36a87bf0.gif">
    <div class="piskel-meta">
      <b>Foo</b>
      <img class="piskel-author smaller-user-avatar" src="https://lh5.googleusercontent.com/-L6XalTDqfIY/AAAAAAAAAAI/AAAAAAAABXk/pFKVMwxKoa4/photo.jpg">
    </div>
  </div>
  <div class="piskel-container">
    <img class="piskel-image" src="http://piskel-imgstore-b.appspot.com/img/1e4b7ceb-221d-11e7-82e2-c71a36a87bf0.gif">
    <div class="piskel-meta">
      <b>Bar</b>
      <img class="piskel-author smaller-user-avatar" src="https://lh5.googleusercontent.com/-L6XalTDqfIY/AAAAAAAAAAI/AAAAAAAABXk/pFKVMwxKoa4/photo.jpg">
    </div>
  </div>
  <div class="piskel-container">
    <img class="piskel-image" src="http://piskel-imgstore-b.appspot.com/img/2c356ad4-221d-11e7-96ed-c71a36a87bf0.gif">
    <div class="piskel-meta">
      <b>Baz</b>
      <img class="piskel-author smaller-user-avatar" src="https://lh5.googleusercontent.com/-L6XalTDqfIY/AAAAAAAAAAI/AAAAAAAABXk/pFKVMwxKoa4/photo.jpg">
    </div>
  </div>
  <div class="piskel-container">
    <img class="piskel-image" src="http://piskel-imgstore-b.appspot.com/img/391d17d7-221d-11e7-8077-c71a36a87bf0.gif">
    <div class="piskel-meta">
      <b>Toto</b>
      <img class="piskel-author smaller-user-avatar" src="https://lh5.googleusercontent.com/-L6XalTDqfIY/AAAAAAAAAAI/AAAAAAAABXk/pFKVMwxKoa4/photo.jpg">
    </div>
  </div>
</div>
<div style="display: flex; align-items: center; justify-content: space-between; margin-top: 10px;">
  <span style="font-size: 14px;">Browse more featured sprites in the gallery</span>
  <a class="piskel-button" style="margin-right: 15px;" href="/featured">
    Browse
  </a>
</div>