.centered-container {
	width : 700px;
	position : absolute;
	margin-left : -350px;
	left : 50%;
}

.logo {
	margin : 50px 20px;
}

.piskel-list {
	list-style : none;
	margin : 20px 0;
	padding: 0;
	padding-left : 35px;
}

.piskel-list .piskel-preview a {
	float : left;
	width : 100px;
	height : 100px;
	border : 1px Solid #aaa;
	margin : 0 30px 30px 0;
}

.centered-medium-button button {
	width : 150px;
	margin-left : 275px;
}