body {
  font-family : Helvetica;
  margin : 0;
  font-size : 13pt;
  background : #515151;
   /** To edit this background, follow this link:
  http://svgeneration.com/generate/Squared?size=24&padding=0.02&background=525252&overlay=1c1c1c&overlay-weight=1&
  */
  background-color: #525252;
  background-image:url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHhtbG5zOnhsaW5rPSdodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rJyB3aWR0aD0nNzY4JyBoZWlnaHQ9JzQ4MCcgdmlld0JveD0nMCAwIDM4NCAyNDAnPgoJPGRlZnM+CgkJPHJlY3QgaWQ9J3MnIGZpbGw9JyMxYzFjMWMnIHdpZHRoPScyMy41MicgaGVpZ2h0PScyMy41MicvPgoJPC9kZWZzPgoJPGcgaWQ9J2InPgoJPHVzZSB4PScwLjI0JyB5PScwLjI0JyBmaWxsLW9wYWNpdHk9JzAuMDQnIHhsaW5rOmhyZWY9JyNzJyAvPgoJPHVzZSB4PScyNC4yNCcgeT0nMC4yNCcgZmlsbC1vcGFjaXR5PScwLjAyJyB4bGluazpocmVmPScjcycgLz4KCTx1c2UgeD0nNDguMjQnIHk9JzAuMjQnIGZpbGwtb3BhY2l0eT0nMC4wNicgeGxpbms6aHJlZj0nI3MnIC8+Cgk8dXNlIHg9JzcyLjI0JyB5PScwLjI0JyBmaWxsLW9wYWNpdHk9JzAuMDUnIHhsaW5rOmhyZWY9JyNzJyAvPgoJPHVzZSB4PSc5Ni4yNCcgeT0nMC4yNCcgZmlsbC1vcGFjaXR5PScwLjAyJyB4bGluazpocmVmPScjcycgLz4KCTx1c2UgeD0nMTIwLjI0JyB5PScwLjI0JyBmaWxsLW9wYWNpdHk9JzAuMDQnIHhsaW5rOmhyZWY9JyNzJyAvPgoJPHVzZSB4PScxNDQuMjQnIHk9JzAuMjQnIGZpbGwtb3BhY2l0eT0nMC4wNycgeGxpbms6aHJlZj0nI3MnIC8+Cgk8dXNlIHg9JzAuMjQnIHk9JzI0LjI0JyBmaWxsLW9wYWNpdHk9JzAuMDMnIHhsaW5rOmhyZWY9JyNzJyAvPgoJPHVzZSB4PScyNC4yNCcgeT0nMjQuMjQnIGZpbGwtb3BhY2l0eT0nMC4wNCcgeGxpbms6aHJlZj0nI3MnIC8+Cgk8dXNlIHg9JzQ4LjI0JyB5PScyNC4yNCcgZmlsbC1vcGFjaXR5PScwLjAyJyB4bGluazpocmVmPScjcycgLz4KCTx1c2UgeD0nNzIuMjQnIHk9JzI0LjI0JyBmaWxsLW9wYWNpdHk9JzAuMDYnIHhsaW5rOmhyZWY9JyNzJyAvPgoJPHVzZSB4PSc5Ni4yNCcgeT0nMjQuMjQnIGZpbGwtb3BhY2l0eT0nMC4wNCcgeGxpbms6aHJlZj0nI3MnIC8+Cgk8dXNlIHg9JzEyMC4yNCcgeT0nMjQuMjQnIGZpbGwtb3BhY2l0eT0nMC4wMycgeGxpbms6aHJlZj0nI3MnIC8+Cgk8dXNlIHg9JzE0NC4yNCcgeT0nMjQuMjQnIGZpbGwtb3BhY2l0eT0nMC4wMScgeGxpbms6aHJlZj0nI3MnIC8+Cgk8dXNlIHg9JzE2OC4yNCcgeT0nMjQuMjQnIGZpbGwtb3BhY2l0eT0nMC4wNCcgeGxpbms6aHJlZj0nI3MnIC8+Cgk8dXNlIHg9JzAuMjQnIHk9JzQ4LjI0JyBmaWxsLW9wYWNpdHk9JzAuMDMnIHhsaW5rOmhyZWY9JyNzJyAvPgoJPHVzZSB4PScyNC4yNCcgeT0nNDguMjQnIGZpbGwtb3BhY2l0eT0nMC4wMicgeGxpbms6aHJlZj0nI3MnIC8+Cgk8dXNlIHg9JzQ4LjI0JyB5PSc0OC4yNCcgZmlsbC1vcGFjaXR5PScwLjA2JyB4bGluazpocmVmPScjcycgLz4KCTx1c2UgeD0nNzIuMjQnIHk9JzQ4LjI0JyBmaWxsLW9wYWNpdHk9JzAuMDInIHhsaW5rOmhyZWY9JyNzJyAvPgoJPHVzZSB4PSc5Ni4yNCcgeT0nNDguMjQnIGZpbGwtb3BhY2l0eT0nMC4wNicgeGxpbms6aHJlZj0nI3MnIC8+Cgk8dXNlIHg9JzEyMC4yNCcgeT0nNDguMjQnIGZpbGwtb3BhY2l0eT0nMC4wNCcgeGxpbms6aHJlZj0nI3MnIC8+Cgk8dXNlIHg9JzE0NC4yNCcgeT0nNDguMjQnIGZpbGwtb3BhY2l0eT0nMC4wMycgeGxpbms6aHJlZj0nI3MnIC8+Cgk8dXNlIHg9JzE2OC4yNCcgeT0nNDguMjQnIGZpbGwtb3BhY2l0eT0nMC4wNycgeGxpbms6aHJlZj0nI3MnIC8+Cgk8dXNlIHg9JzAuMjQnIHk9JzcyLjI0JyBmaWxsLW9wYWNpdHk9JzAuMDQnIHhsaW5rOmhyZWY9JyNzJyAvPgoJPHVzZSB4PScyNC4yNCcgeT0nNzIuMjQnIGZpbGwtb3BhY2l0eT0nMC4wMycgeGxpbms6aHJlZj0nI3MnIC8+Cgk8dXNlIHg9JzQ4LjI0JyB5PSc3Mi4yNCcgZmlsbC1vcGFjaXR5PScwLjA1JyB4bGluazpocmVmPScjcycgLz4KCTx1c2UgeD0nNzIuMjQnIHk9JzcyLjI0JyBmaWxsLW9wYWNpdHk9JzAuMDMnIHhsaW5rOmhyZWY9JyNzJyAvPgoJPHVzZSB4PScxMjAuMjQnIHk9JzcyLjI0JyBmaWxsLW9wYWNpdHk9JzAuMDYnIHhsaW5rOmhyZWY9JyNzJyAvPgoJPHVzZSB4PScxNDQuMjQnIHk9JzcyLjI0JyBmaWxsLW9wYWNpdHk9JzAuMDEnIHhsaW5rOmhyZWY9JyNzJyAvPgoJPHVzZSB4PScxNjguMjQnIHk9JzcyLjI0JyBmaWxsLW9wYWNpdHk9JzAuMDMnIHhsaW5rOmhyZWY9JyNzJyAvPgoJPHVzZSB4PScwLjI0JyB5PSc5Ni4yNCcgZmlsbC1vcGFjaXR5PScwLjAxJyB4bGluazpocmVmPScjcycgLz4KCTx1c2UgeD0nMjQuMjQnIHk9Jzk2LjI0JyBmaWxsLW9wYWNpdHk9JzAuMDYnIHhsaW5rOmhyZWY9JyNzJyAvPgoJPHVzZSB4PSc0OC4yNCcgeT0nOTYuMjQnIGZpbGwtb3BhY2l0eT0nMC4wMycgeGxpbms6aHJlZj0nI3MnIC8+Cgk8dXNlIHg9JzcyLjI0JyB5PSc5Ni4yNCcgZmlsbC1vcGFjaXR5PScwLjA1JyB4bGluazpocmVmPScjcycgLz4KCTx1c2UgeD0nOTYuMjQnIHk9Jzk2LjI0JyBmaWxsLW9wYWNpdHk9JzAuMDInIHhsaW5rOmhyZWY9JyNzJyAvPgoJPHVzZSB4PScxNDQuMjQnIHk9Jzk2LjI0JyBmaWxsLW9wYWNpdHk9JzAuMDUnIHhsaW5rOmhyZWY9JyNzJyAvPgoJPHVzZSB4PScxNjguMjQnIHk9Jzk2LjI0JyBmaWxsLW9wYWNpdHk9JzAuMDInIHhsaW5rOmhyZWY9JyNzJyAvPgoJPC9nPgoJPHVzZSB4PSctMTkyJyB5PScxMjAnIHRyYW5zZm9ybT0nbWF0cml4KC0xIDAgMCAxIDAgMCknIHhsaW5rOmhyZWY9JyNiJyAvPgoJPHVzZSB4PSctMzg0JyB5PSctMTY4JyB0cmFuc2Zvcm09J21hdHJpeCgtMSAwIDAgLTEgMCAwKScgeGxpbms6aHJlZj0nI2InIC8+Cgk8dXNlIHg9JzE5MicgeT0nLTI4OCcgdHJhbnNmb3JtPSdtYXRyaXgoMSAwIDAgLTEgMCAwKScgeGxpbms6aHJlZj0nI2InIC8+Cgk8dXNlIHg9JzE5MicgeT0nLTQ4JyB0cmFuc2Zvcm09J21hdHJpeCgxIDAgMCAtMSAwIDApJyB4bGluazpocmVmPScjYicgLz4KPC9zdmc+');
  color : #AAA;
}

html, body {
  height: 100%;
}

/*************/
/*   RESET   */
/*************/

textarea, input, button {
  margin: 0;
}

/* firefox button resets */
button,
input[type="reset"],
input[type="button"],
input[type="submit"] {
  font-family : Helvetica;
}

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner {
    padding: 0;
    border: 0
}

a {
  color : white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  margin : 0;
  padding: 0;
  list-style-type : none;
}

.wrap {
  min-height: 100%;
}

.main {
  overflow:auto;
  padding-bottom: 30px; /* same height as FOOTER */
}

.background-title {
  color : #F3F3F3;
}

/* Force apparition of scrollbars on leopard */
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 6px;
}

::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: #999;
    cursor: pointer;
}

::-webkit-scrollbar-track {
   background-color: rgba(50, 50, 50, 0.4);;
}


/*************************/
/*        FONTS          */
/*************************/

@font-face {
    font-family: 'MiniSet2';
    src: url('/static/resources/font/miniset2-webfont.eot');
    src: url('/static/resources/font/miniset2-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/resources/font/miniset2-webfont.woff') format('woff'),
         url('/static/resources/font/miniset2-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.font-pixel {
  font-family: "MiniSet2", cursive;
}

/*************************/
/*        LINKS          */
/*************************/

.link {
  text-decoration: none;
}

.link-highlight {
  /*color : #4AF;*/
  color : gold !important;
  font-weight : bold;
}

.link-login[href="/logout"]{
  background-image: url('/static/resources/logout.svg');
  background-size: 1.1em;
  background-position: 1px 2px;
  background-repeat: no-repeat;
  padding-left: 20px;
  display: inline-block;
  opacity: 0.5;
  transition: opacity 0.5s;
}

.link-login[href="/logout"]:hover{
  opacity : 1;
  text-decoration : none;
}
/*************************/
/*      NAVIGATION       */
/*************************/

.navigation {
  height : 64px;
  line-height: 64px;
  background : #2D2D2D;
  overflow: hidden;
  border-bottom:1px solid #1a1a1a;
}

.navigation a {
  margin-right : 10px;
}

.navigation > .link {
  color : white;
  margin-right :20px;
}

.navigation a:hover {
  text-decoration: underline;
}

/*************************/
/*        FOOTER         */
/*************************/
.footer {
  position: relative;
  margin : 30px 0; /* negative value of footer height */

  font-size : 1rem;

  width:100%;
  line-height: 30px;

  text-align: center;
  vertical-align: middle;

  color : #aaa;
}

.footer > .link {
  color : grey;
  font-size : 0.8rem;
  text-decoration: none;
  transition : color 0.2s;
}

.footer > .link:hover {
  color : lightgrey;
}

/*************************/
/*        BUTTON         */
/*************************/

.piskel-button {
  line-height: 24px;
  padding: 0 10px;
  display: inline-block;

  border : none;
  border-top: 1px solid #666;
  border-bottom: 1px solid #222;
  border-radius: 3px;

  background: #3f3f3f;
  cursor: pointer;

  color: white;
  font-size: 0.8em;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-shadow: 0px -1px 0 #000;

  transition : box-shadow 0.2s linear, color 0.2s linear;
}

.piskel-button:focus {
  outline: none;
}

.piskel-button-important {
  color : gold;
}

.piskel-button-dangerous {
  color : rgb(255, 80, 30);
}

.piskel-button:hover {
  text-decoration: none;
  color : gold;
}

.navigation .create-piskel-button {
  width: 100px;
  line-height: 40px;
  position: relative;
  margin: 13px 0 0 20px;

}

.navigation .create-piskel-button:hover {
  text-decoration: none;
}

.navigation .create-piskel-icon {
  position: absolute;
  font-size: 2.5rem;
  left: 13px;
  top: 0;
}

.navigation .user-container {
  padding-top:0.7em;
}

.navigation .user-link,
.navigation .logout-link {
  line-height:20px;
}

.navigation .logout-link {
  font-size:0.8em;
}

.anchor-left {
  float : left;
}

.anchor-right {
  float : right;
}

.piskel-logo {
  margin : 10px 40px;
}

.animated-preview-widget {
  display : block;
  background-color: white;
  background-image : url('/static/resources/animated-preview-checker-background.png');
}

/******************/
/******INSET*******/
/******************/

.inset-container {
  overflow: hidden;
  border-radius: 2px;
}

.inset-container::before
{
  border-radius: 2px;
  display:block;
  content:'';
  position:absolute;
  width:100%;
  height:100%;
  z-index: 1000;
  -moz-box-shadow:inset 0 0 4px 0 rgba(0,0,0,0.5);
  box-shadow:inset 0 0 4px 0 rgba(0,0,0,0.5);
}

.small-user-avatar {
  width: 36px;
  height: 36px;
  vertical-align: middle;
  margin-right: 15px;
  border: 2px solid rgb(222, 222, 222);
  border-radius: 2px;
}

.smaller-user-avatar {
  width: 20px;
  height: 20px;
  border: 2px solid rgb(222, 222, 222);
  border-radius: 2px;
}

/******************/
/******WIDGETS*****/
/******************/

.pskl-counter {
  display: inline-block;
  padding: 0 5px;
  color: #F3F3F3;
  background-color: #2D2D2D;
  border-radius: 2px;

  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}

.pskl-important,
.piskel-important,
.important {
  color : gold !important;
}

.bold {
  font-weight : bold;
}
