.home-main {
  overflow: hidden;
  display: flex;
  padding-top: 30px;
  justify-content: center;
}

.home-tagline,
.home-screenshot {
  max-width: 800px;
  height: 400px;
}


/****************************/
/*         TAGLINE          */
/****************************/

.home-tagline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 30px 0 30px;
  box-sizing: border-box;
  width: 600px;
}

.home-tagline-title {
  color: white;
  font-size: 40px;
  margin-bottom: 20px;
}

.home-tagline-desc {
  margin-bottom: 20px;
  font-size: 25px;
}

.home-actions {
  display: flex;
}

.home-actions .home-main-button:not(:last-child) {
  margin-right: 10px;
}

.home-main-button {
  height: 50px;
  line-height: 50px;
  color: #333;
  background: gold;
  font-size: 1.3em;
  text-shadow: none;
  white-space: nowrap;
  transition: 0.3s background;
}

.home-main-button:hover {
  background: white;
  color: #333 !important;
}

/****************************/
/*        SCREENSHOT        */
/****************************/

.home-screenshot {
  flex-grow: 1;
  position: relative;
}

.home-screenshot-wrapper {
  position: absolute;
}

.home-screenshot-main {
  display: inline-block;
  width: 800px;
  height: 566px;
  background-image: url('/static/resources/home/screenshot_with_browser_ui_generic_800.png');
  background-size: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}


@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .home-screenshot-main {
    background-image: url('/static/resources/home/screenshot_with_browser_ui_generic_full.png');
  }
}

.home-screenshot-preview {
  position: absolute;
  top: 59px;
  right: 37px;
}

.home-screenshot-preview,
.home-screenshot-preview .animated-preview-widget {
  width: 116px;
  height: 116px;
}

/****************************/
/*       MEDIA-QUERIES      */
/****************************/

@media (max-width: 1368px) {
  .home-tagline {
    width: 500px;
  }

  .home-screenshot-main {
    width: calc(0.8 * 800px);
    height: calc(0.8 * 566px);
  }

  .home-screenshot-preview {
    top: 47px;
    right: 30px;
  }

  .home-screenshot-preview,
  .home-screenshot-preview .animated-preview-widget {
    width: calc(0.8 * 116px);
    height: calc(0.8 * 116px);
  }

  .home-tagline-title {
    font-size: 35px;
  }

  .home-tagline-desc {
    font-size: 20px;
  }
}

@media (max-width: 1050px) {
  .home-main {
    flex-direction: column;
    align-items: center;
  }

  .home-tagline {
    justify-content: flex-start;
    height: auto;
    margin-bottom: 30px;
    text-align: center;
    padding: 0 20px;
    width: 600px;
  }

  .home-actions {
    justify-content: center;
  }

  .home-tagline-title {
    font-size: 35px;
  }

  .home-tagline-desc {
    font-size: 20px;
  }

  .home-screenshot {
    width: 100%;
    text-align: center;
    height: auto;
    margin-bottom: 30px;
  }

  .home-screenshot-wrapper {
    display: inline-block;
    position: relative;
  }

  .home-screenshot-main {
    width: calc(0.6 * 800px);
    height: calc(0.6 * 566px);
  }

  .home-screenshot-preview {
    top: 35px;
    right: 22px;
  }

  .home-screenshot-preview,
  .home-screenshot-preview .animated-preview-widget {
    width: calc(0.6 * 116px);
    height: calc(0.6 * 116px);
  }
}

@media (max-width: 780px) {
  .home-tagline {
    width: 400px;
  }

  .home-tagline-title {
    font-size: 24px;
  }

  .home-tagline-desc {
    font-size: 16px;
  }

  .home-main-button {
    font-size: 1em;
    height: 40px;
    line-height: 40px;
  }

  .home-screenshot-main {
    width: calc(0.4 * 800px);
    height: calc(0.4 * 566px);
  }

  .home-screenshot-preview {
    top: 24px;
    right: 15px;
  }

  .home-screenshot-preview,
  .home-screenshot-preview .animated-preview-widget {
    width: calc(0.4 * 116px);
    height: calc(0.4 * 116px);
  }
}

@media (max-width: 400px) {
  .home-tagline {
    width: 320px;
  }
}

/****************************/
/*       ASSETS LIST        */
/****************************/

.media-container {
  overflow: hidden;
  width: 500px;
  float: right;
}

.media-container .media-image {
  float: left;
}

.media-container .media-body {
  overflow: hidden;
}

.assets-container {
  padding: 30px 0;
  text-align: left;
  overflow: hidden;
}

.asset-item {
  margin-bottom: 20px;
  width: 50%;
  height: 110px;
  float: left;
  padding-right: 10px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.asset-item:nth-child(even) {
  padding-left: 10px;
}

.asset-item:nth-child(even) .media-container{
  float: left;
}

.asset-item .media-image {
  width: 100px;
  border: 3px solid white;
  border-radius: 2px;
  margin-top: 10px;
}

.asset-item:nth-child(odd) .media-image {
  float: right;
}

.asset-item .media-body {
  padding: 0 20px;
}

.asset-item:nth-child(odd) .media-body {
  text-align: right;
}

.asset-title {
  color: white;
  font-size: 1.3em;
  margin: 10px 0;
}

.asset-description {
  margin: 10px 0;
  font-size: 14px;
}

@media (max-width: 1050px) {
  .asset-item:nth-child(odd) {
    padding-left: 10px;
  }
  .asset-item:nth-child(odd) .media-container{
    float: left;
  }
  .asset-item:nth-child(odd) .media-image {
    float: left;
  }
  .asset-item:nth-child(odd) .media-body {
    text-align: left;
  }

  .asset-item {
    width: 100%;
  }

  .media-container {
    left: 50%;
    margin-left: -250px;
    position: relative;
  }
}

@media (max-width: 600px) {
  .media-container {
    width: 370px;
    margin-left: -185px;
  }
}

@media (max-width: 400px) {
  .media-container {
    width: 340px;
    margin-left: -150px;
  }

  .asset-title {
    font-size: 0.9em;
  }

  .asset-description {
    font-size: 12px;
  }
}


/****************************/
/*    FEATURED PISKELS      */
/****************************/
.picked-piskels-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
}

.picked-piskels-promo {
  margin-left: 5px;
  font-size: 14px;
  display: inline-block;
}

.picked-piskels-title {
  margin-left: 5px;
  font-size: 1.3em;
  margin-top: 0;
  margin-bottom: 10px;
  color: white;
  text-shadow: none;
}

.piskels-container {
  overflow: hidden;
}

@media (max-width: 1050px) {
  .piskels-container,
  .picked-piskels-promo {
    width: 400px;
  }
}

@media (max-width: 580px) {
  .piskels-container,
  .picked-piskels-promo {
    width: 270px;
  }
}

.piskel-container {
  overflow: hidden;
  cursor: pointer;
  height: 140px;
  border: 3px solid #888;
  float: left;
  margin: 5px;
  border-radius: 2px;
  overflow: hidden;

  background-image: url('/static/resources/home/featured/checkered-background.png');

  transition: 0.3s border-color;
}

.piskel-container:hover {
  border-color: #CCC;
  text-decoration: none;
}

.picked-preview-container,
.picked-preview-container .animated-preview-widget,
.picked-preview-container .piskel-image {
  width: 116px;
  height: 116px;
}

.piskel-meta {
  height: 26px;
  font-size: 12px;
  text-align: center;
  background-color: #888;
  color: black;
  padding: 0 2px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  transition: 0.3s background-color,  0.3s color;
}

.piskel-container:hover .piskel-meta {
  background-color: #CCC;
}

.picked-piskels-actions {
  margin-top: 10px;
  text-align: right;
}
