.legal-container {
  padding: 10px 50px;
}

.legal-container h1 {
  color: gold;
}

.legal-container h2 {
  color: white;
}

.legal-container li {
  margin-bottom: 10px;
}

.legal-container {
  font-size: 0.8em;
}