@font-face{
 font-family:"MiniSet2";
 font-weight:normal;
 font-style:normal;
 src:url("/static/resources/font/MiniSet2.ttf") format("truetype"),
     url("/static/resources/font/MiniSet2.svg#MiniSet2") format("svg");
}


.piskel-preview-container {
	vertical-align: middle;
	display: inline-block;
}

.piskel-carousel {
	margin : 20px 0;
	text-align : center;
}

.piskel-carousel h3{
	text-align : left;
	margin : 10px 20px;
}

.preview-separator {
	width: 994px;
	border: 1px solid grey;
	border-bottom-width: 0px;
}

.main-container {
	width: 1000px;
	position: relative;
	left: 50%;
	text-align: center;
	margin-left: -500px;
	padding-top: 30px
}

.media-container {
	overflow : hidden;
}

.media-container .media-image {
	float:left;
}

.media-container .media-body {
	overflow : hidden;
}

.assets-container {
	padding:30px 0;
	text-align:left;
}

.asset-item {
	margin-bottom: 20px;
	width: 500px;
	height: 110px;
	float: left;
	box-sizing : border-box;
}

.asset-item .media-image {
	border : 3px solid gold;
	border-radius: 2px;
	margin-top: 10px;
}

.asset-item .media-body {
	padding : 0 20px;
}

.asset-title {
	color : white;
	font-family: 'MiniSet2', cursive;
	font-size:1.3em;
	margin: 10px 0;
}

.asset-description {
	margin: 10px 0;
}
.piskel-preview {
	height : 300px;
	width : 300px;
	border : 1px solid grey;
	margin:0 20px;
	display : inline-block;
}