.user-settings-container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto 30px auto;
  padding: 0 30px;
  box-sizing: border-box;
}

.user-settings-main {
  overflow: hidden;
  display: flex;
}

.user-settings-title {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.user-settings-sections {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.user-settings-header {
  padding: 30px;
  background: #333;
  margin: 30px 0;
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  align-items: center;
}

.user-settings-header .piskel-button {
  font-size: 16px;
  height: 50px;
  width: 150px;
  padding: 0 15px;
  float: right;
}

.user-settings-avatar {
  padding: 30px;
  background: #333;
  width: 20%;
}

.user-settings-avatar-preview {
  width: 100%;
  background-color: white;
  background-size: cover;
  background-position: center;
}

.user-settings-avatar-preview:after {
    content: "";
    padding-top: 100%;
    display: block;
}

.user-settings-avatar-actions {
  text-align: center;
  margin-top: 30px;
  line-height: 30px;
}

.user-settings-avatar-actions .piskel-button {
  font-size: 16px;
  height: 50px;
  width: 150px;
  padding: 0 15px;
}

.user-settings-section {
  padding: 30px;
  background: #333;
  margin-bottom:30px;
  margin-left: 30px;
}

.user-settings-section:last-child {
  margin-bottom: 0;
}

.user-settings-section-title {
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
}

.user-settings-section-description {
  margin: 30px 0;
  font-style: italic;
}

.user-settings-input {
  justify-content: flex-end;
  display: flex;
}

.user-settings-label {
  margin: 10px 10px 0 0;
  font-weight: bold;
}

.user-settings-input:not(:last-child) {
  margin-bottom: 10px;
}

.user-settings-input input,
.user-settings-input textarea {
  border: 3px solid #AAA;
  border-radius: 3px;
  padding: 10px;
  width: 66%;
  font-size: 16px;
  resize: none;
}

.user-settings-input input {
  font-weight: bold;
}