.legal-section {
  display: flex;
  justify-content: center;
  padding: 30px 0;
}

.legal-section-inner {
  width: 800px;
  font-size: 14px;
  line-height: 20px;
  padding: 0 30px;
}

.legal-section li {
  margin-bottom: 10px;
}
