body {
  font-family : Helvetica;
  margin : 0;
  font-size : 13pt;
   /** To edit this background, follow this link:
  http://svgeneration.com/generate/Squared?size=24&padding=0.02&background=525252&overlay=1c1c1c&overlay-weight=1&
  */
  background-color: #525252;
  color : #CCC;
}

html, body {
  height: 100%;
}

/*************/
/*   RESET   */
/*************/

textarea, input, button {
  margin: 0;
}

/* firefox button resets */
button,
input[type="reset"],
input[type="button"],
input[type="submit"] {
  font-family : Helvetica;
}

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner {
    padding: 0;
    border: 0
}

a {
  color : white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  margin : 0;
  padding: 0;
  list-style-type : none;
}

.wrap {
  min-height: 100%;
  /* overflow-x hidden to avoid overflowing from the ad */
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

/* Set this class on the children of .wrap that are
   supposed to fill the remaining space */
.grow {
  flex-grow: 1;
}

.background-title {
  color : #F3F3F3;
}

.checkered-bg {
  background-image:url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHhtbG5zOnhsaW5rPSdodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rJyB3aWR0aD0nNzY4JyBoZWlnaHQ9JzQ4MCcgdmlld0JveD0nMCAwIDM4NCAyNDAnPgoJPGRlZnM+CgkJPHJlY3QgaWQ9J3MnIGZpbGw9JyMxYzFjMWMnIHdpZHRoPScyMy41MicgaGVpZ2h0PScyMy41MicvPgoJPC9kZWZzPgoJPGcgaWQ9J2InPgoJPHVzZSB4PScwLjI0JyB5PScwLjI0JyBmaWxsLW9wYWNpdHk9JzAuMDQnIHhsaW5rOmhyZWY9JyNzJyAvPgoJPHVzZSB4PScyNC4yNCcgeT0nMC4yNCcgZmlsbC1vcGFjaXR5PScwLjAyJyB4bGluazpocmVmPScjcycgLz4KCTx1c2UgeD0nNDguMjQnIHk9JzAuMjQnIGZpbGwtb3BhY2l0eT0nMC4wNicgeGxpbms6aHJlZj0nI3MnIC8+Cgk8dXNlIHg9JzcyLjI0JyB5PScwLjI0JyBmaWxsLW9wYWNpdHk9JzAuMDUnIHhsaW5rOmhyZWY9JyNzJyAvPgoJPHVzZSB4PSc5Ni4yNCcgeT0nMC4yNCcgZmlsbC1vcGFjaXR5PScwLjAyJyB4bGluazpocmVmPScjcycgLz4KCTx1c2UgeD0nMTIwLjI0JyB5PScwLjI0JyBmaWxsLW9wYWNpdHk9JzAuMDQnIHhsaW5rOmhyZWY9JyNzJyAvPgoJPHVzZSB4PScxNDQuMjQnIHk9JzAuMjQnIGZpbGwtb3BhY2l0eT0nMC4wNycgeGxpbms6aHJlZj0nI3MnIC8+Cgk8dXNlIHg9JzAuMjQnIHk9JzI0LjI0JyBmaWxsLW9wYWNpdHk9JzAuMDMnIHhsaW5rOmhyZWY9JyNzJyAvPgoJPHVzZSB4PScyNC4yNCcgeT0nMjQuMjQnIGZpbGwtb3BhY2l0eT0nMC4wNCcgeGxpbms6aHJlZj0nI3MnIC8+Cgk8dXNlIHg9JzQ4LjI0JyB5PScyNC4yNCcgZmlsbC1vcGFjaXR5PScwLjAyJyB4bGluazpocmVmPScjcycgLz4KCTx1c2UgeD0nNzIuMjQnIHk9JzI0LjI0JyBmaWxsLW9wYWNpdHk9JzAuMDYnIHhsaW5rOmhyZWY9JyNzJyAvPgoJPHVzZSB4PSc5Ni4yNCcgeT0nMjQuMjQnIGZpbGwtb3BhY2l0eT0nMC4wNCcgeGxpbms6aHJlZj0nI3MnIC8+Cgk8dXNlIHg9JzEyMC4yNCcgeT0nMjQuMjQnIGZpbGwtb3BhY2l0eT0nMC4wMycgeGxpbms6aHJlZj0nI3MnIC8+Cgk8dXNlIHg9JzE0NC4yNCcgeT0nMjQuMjQnIGZpbGwtb3BhY2l0eT0nMC4wMScgeGxpbms6aHJlZj0nI3MnIC8+Cgk8dXNlIHg9JzE2OC4yNCcgeT0nMjQuMjQnIGZpbGwtb3BhY2l0eT0nMC4wNCcgeGxpbms6aHJlZj0nI3MnIC8+Cgk8dXNlIHg9JzAuMjQnIHk9JzQ4LjI0JyBmaWxsLW9wYWNpdHk9JzAuMDMnIHhsaW5rOmhyZWY9JyNzJyAvPgoJPHVzZSB4PScyNC4yNCcgeT0nNDguMjQnIGZpbGwtb3BhY2l0eT0nMC4wMicgeGxpbms6aHJlZj0nI3MnIC8+Cgk8dXNlIHg9JzQ4LjI0JyB5PSc0OC4yNCcgZmlsbC1vcGFjaXR5PScwLjA2JyB4bGluazpocmVmPScjcycgLz4KCTx1c2UgeD0nNzIuMjQnIHk9JzQ4LjI0JyBmaWxsLW9wYWNpdHk9JzAuMDInIHhsaW5rOmhyZWY9JyNzJyAvPgoJPHVzZSB4PSc5Ni4yNCcgeT0nNDguMjQnIGZpbGwtb3BhY2l0eT0nMC4wNicgeGxpbms6aHJlZj0nI3MnIC8+Cgk8dXNlIHg9JzEyMC4yNCcgeT0nNDguMjQnIGZpbGwtb3BhY2l0eT0nMC4wNCcgeGxpbms6aHJlZj0nI3MnIC8+Cgk8dXNlIHg9JzE0NC4yNCcgeT0nNDguMjQnIGZpbGwtb3BhY2l0eT0nMC4wMycgeGxpbms6aHJlZj0nI3MnIC8+Cgk8dXNlIHg9JzE2OC4yNCcgeT0nNDguMjQnIGZpbGwtb3BhY2l0eT0nMC4wNycgeGxpbms6aHJlZj0nI3MnIC8+Cgk8dXNlIHg9JzAuMjQnIHk9JzcyLjI0JyBmaWxsLW9wYWNpdHk9JzAuMDQnIHhsaW5rOmhyZWY9JyNzJyAvPgoJPHVzZSB4PScyNC4yNCcgeT0nNzIuMjQnIGZpbGwtb3BhY2l0eT0nMC4wMycgeGxpbms6aHJlZj0nI3MnIC8+Cgk8dXNlIHg9JzQ4LjI0JyB5PSc3Mi4yNCcgZmlsbC1vcGFjaXR5PScwLjA1JyB4bGluazpocmVmPScjcycgLz4KCTx1c2UgeD0nNzIuMjQnIHk9JzcyLjI0JyBmaWxsLW9wYWNpdHk9JzAuMDMnIHhsaW5rOmhyZWY9JyNzJyAvPgoJPHVzZSB4PScxMjAuMjQnIHk9JzcyLjI0JyBmaWxsLW9wYWNpdHk9JzAuMDYnIHhsaW5rOmhyZWY9JyNzJyAvPgoJPHVzZSB4PScxNDQuMjQnIHk9JzcyLjI0JyBmaWxsLW9wYWNpdHk9JzAuMDEnIHhsaW5rOmhyZWY9JyNzJyAvPgoJPHVzZSB4PScxNjguMjQnIHk9JzcyLjI0JyBmaWxsLW9wYWNpdHk9JzAuMDMnIHhsaW5rOmhyZWY9JyNzJyAvPgoJPHVzZSB4PScwLjI0JyB5PSc5Ni4yNCcgZmlsbC1vcGFjaXR5PScwLjAxJyB4bGluazpocmVmPScjcycgLz4KCTx1c2UgeD0nMjQuMjQnIHk9Jzk2LjI0JyBmaWxsLW9wYWNpdHk9JzAuMDYnIHhsaW5rOmhyZWY9JyNzJyAvPgoJPHVzZSB4PSc0OC4yNCcgeT0nOTYuMjQnIGZpbGwtb3BhY2l0eT0nMC4wMycgeGxpbms6aHJlZj0nI3MnIC8+Cgk8dXNlIHg9JzcyLjI0JyB5PSc5Ni4yNCcgZmlsbC1vcGFjaXR5PScwLjA1JyB4bGluazpocmVmPScjcycgLz4KCTx1c2UgeD0nOTYuMjQnIHk9Jzk2LjI0JyBmaWxsLW9wYWNpdHk9JzAuMDInIHhsaW5rOmhyZWY9JyNzJyAvPgoJPHVzZSB4PScxNDQuMjQnIHk9Jzk2LjI0JyBmaWxsLW9wYWNpdHk9JzAuMDUnIHhsaW5rOmhyZWY9JyNzJyAvPgoJPHVzZSB4PScxNjguMjQnIHk9Jzk2LjI0JyBmaWxsLW9wYWNpdHk9JzAuMDInIHhsaW5rOmhyZWY9JyNzJyAvPgoJPC9nPgoJPHVzZSB4PSctMTkyJyB5PScxMjAnIHRyYW5zZm9ybT0nbWF0cml4KC0xIDAgMCAxIDAgMCknIHhsaW5rOmhyZWY9JyNiJyAvPgoJPHVzZSB4PSctMzg0JyB5PSctMTY4JyB0cmFuc2Zvcm09J21hdHJpeCgtMSAwIDAgLTEgMCAwKScgeGxpbms6aHJlZj0nI2InIC8+Cgk8dXNlIHg9JzE5MicgeT0nLTI4OCcgdHJhbnNmb3JtPSdtYXRyaXgoMSAwIDAgLTEgMCAwKScgeGxpbms6aHJlZj0nI2InIC8+Cgk8dXNlIHg9JzE5MicgeT0nLTQ4JyB0cmFuc2Zvcm09J21hdHJpeCgxIDAgMCAtMSAwIDApJyB4bGluazpocmVmPScjYicgLz4KPC9zdmc+');
}

/* Force apparition of scrollbars on leopard */
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 6px;
}

::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: #999;
    cursor: pointer;
}

::-webkit-scrollbar-track {
   background-color: rgba(50, 50, 50, 0.4);;
}

/*************************/
/*        LINKS          */
/*************************/

.link {
  text-decoration: none;
}

.link-highlight {
  /*color : #4AF;*/
  color : gold !important;
  font-weight : bold;
}

.link-login[href="/logout"]{
  background-image: url('/static/resources/logout.svg');
  background-size: 1.1em;
  background-position: 1px 2px;
  background-repeat: no-repeat;
  padding-left: 20px;
  display: inline-block;
  opacity: 0.5;
  transition: opacity 0.5s;
}

.link-login[href="/logout"]:hover{
  opacity : 1;
  text-decoration : none;
}
/*************************/
/*      NAVIGATION       */
/*************************/

.navigation {
  height: 36px;
  line-height: 36px;
  background: #2D2D2D;
  border-bottom: 1px solid #1a1a1a;
}

.navigation > .link {
  color: white;
  margin-right: 20px;
}

.navigation > .piskel-logo {
  height: 24px;
}

.nav-buttons {
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
}

.nav-buttons-tiny {
  display: none;
}

@media (max-width: 600px) {
  .nav-buttons-default {
    display: none;
  }

  .nav-buttons-tiny {
    display: flex;
  }
}

.nav-links {
  display: inline-block;
}

.nav-links > * {
  padding: 0 10px;
}

.nav-link {
  display: inline-block;
  transition: 0.3s color;
}

.nav-link:hover {
  text-decoration: none;
  color: gold;
}

.navigation .piskel-button,
.navigation .user-link {
  margin: 6px 6px 6px 0;
}

.navigation .user-link {
  display: flex;
  align-items: center;
  height: 20px;
  line-height: 20px;
  padding: 2px;
  border-radius: 2px;

  color: black;
  background: gold;
  font-size: 13px;
  font-weight: bold;
  transition: 0.3s background-color;
}

.navigation .tiny-button {
  display: flex;
  align-items: center;
}

.navigation .user-link:hover {
  text-decoration: none;
  background: white;
}

.navigation .user-link-name {
  padding: 0 5px;
}

/*************************/
/*        FOOTER         */
/*************************/
.footer {
  display: flex;
  position: relative;
  width:100%;
  padding : 30px 0;
  font-size : 1rem;

  color : #aaa;

  justify-content: center;
  align-items: center;
}

.footer-items {
  max-width: 600px;
}

.footer > .link {
  color : grey;
  font-size : 0.8rem;
  text-decoration: none;
  transition: color 0.2s;
}

.footer > .link:hover {
  color : lightgrey;
}

.footer-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  font-size: 0.8em;
  white-space: nowrap;
}

.footer-item-title {
  font-weight: bold;
  display: inline-block;
  width: 60px;
}

.footer-item img {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  margin-right: 10px;
  flex-shrink: 0;
}

.footer-logo {
  position: absolute;
  bottom: 10px;
  right: 10px;
  opacity: 0.1;
}

/*************************/
/*        BUTTON         */
/*************************/

.piskel-button {
  display: inline-block;
  height: 24px;
  line-height: 24px;
  padding: 0 10px;

  border-style: none;
  border-radius: 2px;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: black;
  background-color: gold;
  transition: 0.3s background-color;
}

.piskel-button:focus {
  outline: none;
}

.piskel-button-dangerous {
  background-color: #ff470f;
}

.piskel-button:hover {
  text-decoration: none;
  background-color: white;
}

.navigation .create-piskel-button {
  position: relative;
}

.navigation .create-piskel-icon {
  position: absolute;
  font-size: 2.5rem;
  left: 13px;
  top: 0;
}

.anchor-left {
  float : left;
}

.anchor-right {
  float : right;
}

.piskel-logo {
  margin : 6px 15px;
}

.piskel-logo > img {
  height: 24px;
}

.animated-preview-widget {
  display : block;
  background-color: white;
  background-image : url('/static/resources/animated-preview-checker-background.png');
}

/******************/
/******INSET*******/
/******************/

.inset-container {
  overflow: hidden;
  border-radius: 2px;
}

.inset-container::before
{
  border-radius: 2px;
  display:block;
  content:'';
  position:absolute;
  width:100%;
  height:100%;
  z-index: 1000;
  -moz-box-shadow:inset 0 0 4px 0 rgba(0,0,0,0.5);
  box-shadow:inset 0 0 4px 0 rgba(0,0,0,0.5);
}

.small-user-avatar {
  width: 36px;
  height: 36px;
  vertical-align: middle;
  margin-right: 15px;
  border: 2px solid rgb(222, 222, 222);
  border-radius: 2px;
}

.smaller-user-avatar {
  width: 20px;
  height: 20px;
  border-radius: 2px;
}

/******************/
/******WIDGETS*****/
/******************/

.pskl-counter {
  display: inline-block;
  padding: 0 5px;
  color: #F3F3F3;
  background-color: #2D2D2D;
  border-radius: 2px;

  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}

.pskl-important,
.piskel-important,
.important {
  color : gold !important;
}

.bold {
  font-weight : bold;
}

/******************/
/******POPUPS******/
/******************/

.nav-popup {
  display: none;
  position: absolute;
  font-size: 13px;

  background: #2D2D2D;

  border-radius: 2px;
  font-weight: bold;
  z-index: 1000;
  overflow: hidden;
  border: 1px solid #1a1a1a;
}

#tiny-menu-popup,
#user-menu-popup {
  right: 6px;
  top: 40px;
}

#nav-about-popup {
  left: 10px;
  top: 40px;
}

.nav-popup.visible {
  display: block;
}

.user-menu-popup-link,
.nav-about-popup-link {
  color: white;
  display: block;
  padding: 0 10px 0 30px;
  transition: 0.3s color;
  white-space: nowrap;
}

.nav-about-popup-link {
  padding: 0 10px;
}

.user-menu-gallery,
.user-menu-settings,
.user-menu-logout {
  background-repeat: no-repeat;
  background-position: 7px center;
}

.user-menu-gallery {
  background-image:url('/static/resources/gallery-icon.png');
}

.user-menu-settings {
  background-image:url('/static/resources/settings-icon.png');
}

.user-menu-logout {
  background-image:url('/static/resources/logout-icon.png');
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .user-menu-gallery {
    background-size: 16px;
    background-image: url('/static/resources/gallery-icon@2x.png');
  }

  .user-menu-settings {
    background-image:url('/static/resources/settings-icon@2x.png');
  }

  .user-menu-logout {
    background-size: 16px;
    background-image: url('/static/resources/logout-icon@2x.png');
  }
}

.user-menu-popup-link:hover,
.nav-about-popup-link:hover {
  color: gold;
  text-decoration: none;
}

.nav-about-container {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.nav-about-container:hover .nav-link{
  color: gold;
}

.nav-about-drop-arrow,
.nav-user-drop-arrow {
  width: 0;
  height: 0;

  border-color: transparent;
  border-style: solid;
  border-width: 5px;
  transition: 0.3s border-top-color;
}

.nav-about-drop-arrow {
  margin: 5px 0 0 5px;
  border-top-color: white;
}

.nav-user-drop-arrow {
  margin: 5px 2px 0 0;
  border-top-color: black;
}

.nav-about-container:hover .nav-about-drop-arrow {
  border-top-color: gold;
}

/**********************/
/* BACKGROUND COLORS  */
/**********************/

.bg0 {
  background-color: #525252;
}

.bg1 {
  background-color: #2D2D2D;
}

.bg2 {
  background-color: #222222;
}

.bg3 {
  background-color: #181818
}

.bg4 {
  background-color: #111111;
}


/**********************/
/*        ADS         */
/**********************/

.ad-container {
  display: flex;
  justify-content: center;
  padding: 30px 0;
}