#loading-mask {
  position:fixed;
  top:0;right:0;bottom:0;left:0;
  background:black;
  opacity:1;
  z-index : 20000;
  transition : opacity 0.5s;
  color:white;
  font-size:24px;
}

#loading-mask div {
  top:50%;left:50%;
  height:50px;
  width:300px;
  vertical-align:middle;
  text-align:center;
  line-height:50px;
  margin-top:-25px;
  margin-left:-150px;
  position:absolute;
}

.editor-header-wrap {
  z-index: 10000;
  position: relative;
  font-size: 12pt;
}

.editor-header-wrap .navigation {
  height : 36px;
  line-height : 36px;
}

.editor-header-wrap .link {
  position: relative;
  z-index : 2;
}


.editor-header-wrap .small-user-avatar {
  width: 36px;
  height: 36px;
  border: none;
}

.editor-header-wrap .piskel-logo {
  margin: 2px 10px;
}

.editor-header-wrap .piskel-logo img {
  height: 20px;
}

.editor-header-wrap .flat-button {
  margin: 0 1px 0 0;
  padding: 0 10px 0 30px;
  border-top-width: 3px;
  border-bottom-width: 0;
  border-radius: 0;
  height: 36px;

  transition : border 0.2s, color 0.2s;
}

.editor-header-wrap .save-button {
  background-image: url('http://localhost:10080/p/img/save.png');
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: 5px;
}

.editor-header-wrap .info-button {
  background-image: url('http://localhost:10080/p/img/info.png');
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: 5px;
}

.editor-header-wrap .flat-button:hover {
  border-top-color: gold;
  color: gold;
}

.editor-header-wrap .link-login[href="/logout"] {
  background-position: 52px 6px;
}

.piskel-name {
  position : absolute;
  width : 100%;
  text-align: center;
  font-size: 16pt;
  color: #888;
  text-shadow: 0 -1px 0 #000;
}

.piskel-name-saving:after {
  content: "";
  position: absolute;
  top: 5px;
  width: 25px;
  background-image: url('/static/resources/pacman-loader.gif');
  height: 25px;
  margin-left: 5px;
}

.main-wrapper {
  margin-top: 40px;
}

/* Override from piskel-app.css */
.navigation .create-piskel-button {
  width: 60px;
  padding : 0;
  line-height: 24px;
  margin: 6px 0 0 8px;
}