{% extends "base.html" %}

{% block title %}Unexpected error!{% endblock %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="/static/css/piskel-app-piskel.css?20170502"/>
{% endblock %}

{% block main %}
  <div class="piskel-error-container">
    <h2 class="piskel-error-title pskl-important">Sorry!</h2>
    <h3 class="piskel-error-details">Unexpected error</h3>
    Oops. Something bad happened on our side.<br>
    If you can reproduce this error, please file an issue on <a href="https://github.com/piskelapp/piskel-website/issues">GitHub</a>.
  </div>
{% endblock %}