{% extends "base.html" %}

{% block title %}Insufficient permissions !{% endblock %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="/static/css/piskel-app-piskel.css"/>
{% endblock %}

{% block main %}
  <div class="piskel-error-container">
    <h2 class="piskel-error-title pskl-important font-pixel">Sorry !</h2>
    <h3 class="piskel-error-details font-pixel">Insufficient permissions</h3>
    {% if not is_logged_in %}
        Did you forgot to <a href="/auth/google">login</a>?<br>
    {% else %}
        Make sure the piskel you are trying to perform action on is owned by you.
        If you think this is an error then please open an issue on <a href="https://github.com/juliandescottes/piskel-website/issues">github</a>.
    {% endif %}
  </div>
  <div class="piskel-container">
    <div class="piskel-error-image-container inset-container" style="margin-left:-256px;">
      <img src="/static/resources/error/403/403-guy.png"/>
    </div>
  </div>
{% endblock %}