{% extends "base.html" %}
{% from "partial/macros.html" import render_animated_preview %}

{% block title %}Piskel - {{ title }}{% endblock %}

{% block css %}
  <link href="http://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=VT323" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="/static/css/piskel-app-previewcard.css"/>
{% endblock %}

{% block main %}

  {% include "gallery/navigation.html" %}

  <div style="overflow:hidden; margin:20px 50px;">
  {% for piskel in page_piskels %}
    {% include "gallery/piskelcard.html" %}
  {% endfor %}
  </div>

  {% include "gallery/pagination.html" %}

{% endblock %}