<div style="overflow:hidden; margin:25px 10px 10px; position:relative; border-bottom:1px solid #aaa">
  <span style="float:left; font-size:32px; margin-left:29px;" class="font-pixel"><span style="color:gold; font-weight:bold">Picked</span> Piskels</span>
  <ul style="overflow:hidden; position:absolute; bottom:0; right:10px;">
    <li style="float:left; margin-left:10px;"><a style="color:gold; font-weight:bold" href="/picked">Picked</a></li>
    <li style="float:left; margin-left:10px;"><a href="/popular">Most viewed</a></li>
    <li style="float:left; margin-left:10px;"><a href="/recent">Recent</a></li>
  </ul>
</div>
