{% extends "base.html" %}

{% block title %}Piskel - Privacy Policy{% endblock %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="/static/css/piskel-app-legal.css"/>
{% endblock %}

{% block main %}
  <div class="legal-container">
    <h1>Privacy Policy</h1>
This privacy policy is effective as of May 1st 2017.
<br/>
<br/>
Piskel respects each individual's right to personal privacy.
We will collect and use information through our website only in the way disclosed in this statement. This statement applies solely to information collected at http://www.piskelapp.com/ ("Site") and may not apply to information we collect in different situations (such as through email correspondence).
<br/>
<br/>
Please take a few moments to read this privacy policy.

<h2>Children (under 13 years old)</h2>
Piskel is intended for all ages and we will accept registration of all ages, but we recommend parental consent for children under 13 years of age. Public sprites created on Piskel should be appropriate for any audience and if offensive public content is reported to us, we reserve ourselves the right to delete it. We will never promote a sprite or a user page that is not appropriate for all ages.

<h2>Information collected</h2>
Piskel relies on Google login for user registration. This means we only collect the identifier needed to authenticate a user as well as basic information, such as the user name.

<h2>Information collected (analytics)</h2>
Piskel collects basic website usage information to help us understand how users interact with the service. This information is forwarded to Google Analytics which tracks statistical user behavior. The information is collected anonymously and is not tied to a specific user.

<h2>Sprites privacy</h2>
Piskel allows sprites to be saved as 'public' or 'private'. Private sprites can only be listed and viewed by the user account owner. Public sprites are publicly listed on the user page and can be viewed by anyone visiting either the user page.

<h2>User page privacy</h2>
All user pages are public by default but not discoverable. Piskel does not provide any way to search for users or browse user pages. If we want to promote or highlight a sprite on the Site or on any other social media, we will only do so if we received the consent of the user.

<h2>Disclosing user information</h2>
We do not share personally identifiable information that we have collected with other third-party companies for their own commercial or marketing purposes.

<h2>Cookies</h2>
Like many Internet sites, we use cookies to collect information. Piskel uses cookies to locally store session data and ensure a proper user experience. Cookies may also be used by advertising and third party tools/resources.

<h2>Security</h2>
We cannot guarantee the information we collect is completely secure. The Internet and its ability to transmit data isn't flawless, and there is no current method of guaranteeing complete security. However, we will do our best to protect and secure your information.

<h2>Questions</h2>
If you have any question or concern about this privacy policy, contact us at:

email: <a href="mailto:julian@piskelapp.com">julian@piskelapp.com</a>
  </div>
{% endblock %}