{% autoescape off %}
  <script type="text/javascript">
    window.pskl = window.pskl || {};
    window.pskl.appEngineToken_ = true;
    {% if piskel_content %}
      window.pskl.appEnginePiskelData_ = {
        piskel : {{ piskel_content }},
        isLoggedIn : {% if is_logged_in %}true{% else %}false{% endif %},
        fps : {{ piskel_fps }},
        descriptor : {
          name : "{{piskel_name}}",
          description : {% if piskel_description %}"{{piskel_description}}"{% else %}""{% endif %},
          isPublic : {% if piskel.private %}false{% else %}true{% endif %}
        }
      };
    {% endif %}

    function subscribePiskelDescriptorUpdatedChangeTitle() {
      window.$.subscribe('PISKEL_DESCRIPTOR_UPDATED', function() {
        document.title = 'Piskel - ' + window.pskl.app.piskelController.getPiskel().getDescriptor().name;
      });
    }

    if (window.$ && window.$.subscribe) {
      subscribePiskelDescriptorUpdatedChangeTitle();
    } else {
      if (!window.piskelReadyCallbacks) {
        window.piskelReadyCallbacks = [];
      }

      window.piskelReadyCallbacks.push(subscribePiskelDescriptorUpdatedChangeTitle);
    }
  </script>
{% endautoescape %}