
<div id="main-wrapper" class="main-wrapper">
  <iframe src="../templates-2015-08-15-04-23/drawing-tools.html" onload="iframeloader.onLoad(event)" data-iframe-loader="display"></iframe>

  <div id="column-wrapper" class="column-wrapper">
    <div class='column left-column'>
      <iframe src="../templates-2015-08-15-04-23/frames-list.html" onload="iframeloader.onLoad(event)" data-iframe-loader="display"></iframe>
    </div>

    <div class='column main-column'>
      <div id="drawing-canvas-container" class="drawing-canvas-container canvas-container">
        <div class="canvas-background"></div>
      </div>
    </div>

    <div class="column right-column">
      <iframe src="../templates-2015-08-15-04-23/preview.html" onload="iframeloader.onLoad(event)" data-iframe-loader="display"></iframe>
      <iframe src="../templates-2015-08-15-04-23/layers-list.html" onload="iframeloader.onLoad(event)" data-iframe-loader="display"></iframe>
      <iframe src="../templates-2015-08-15-04-23/transformations.html" onload="iframeloader.onLoad(event)" data-iframe-loader="display"></iframe>
      <iframe src="../templates-2015-08-15-04-23/palettes-list.html" onload="iframeloader.onLoad(event)" data-iframe-loader="display"></iframe>
      <div class="pull-bottom cursor-coordinates"></div>
    </div>
  </div>

  <div id="application-action-section" data-pskl-controller="settings" class="sticky-section right-sticky-section">
    <div class="sticky-section-wrap">
      <iframe src="../templates-2015-08-15-04-23/settings.html" onload="iframeloader.onLoad(event)" data-iframe-loader="display"></iframe>
      <div class="drawer vertical-centerer">
        <div class="drawer-content" id="drawer-container">
          <iframe src="../templates-2015-08-15-04-23/settings/application.html" onload="iframeloader.onLoad(event)" data-iframe-loader="store"></iframe>
          <iframe src="../templates-2015-08-15-04-23/settings/resize.html" onload="iframeloader.onLoad(event)" data-iframe-loader="store"></iframe>
          <iframe src="../templates-2015-08-15-04-23/settings/save.html" onload="iframeloader.onLoad(event)"  data-iframe-loader="store"></iframe>
          <iframe src="../templates-2015-08-15-04-23/settings/import.html" onload="iframeloader.onLoad(event)"  data-iframe-loader="store"></iframe>
          <iframe src="../templates-2015-08-15-04-23/settings/export.html" onload="iframeloader.onLoad(event)"  data-iframe-loader="store"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="dialog-container-wrapper">
  <div id="dialog-container">
    <iframe src="../templates-2015-08-15-04-23/dialogs/create-palette.html" onload="iframeloader.onLoad(event)"  data-iframe-loader="store"></iframe>
    <iframe src="../templates-2015-08-15-04-23/dialogs/import-image.html" onload="iframeloader.onLoad(event)"  data-iframe-loader="store"></iframe>
    <iframe src="../templates-2015-08-15-04-23/dialogs/browse-local.html" onload="iframeloader.onLoad(event)"  data-iframe-loader="store"></iframe>
  </div>
</div>

<iframe src="../templates-2015-08-15-04-23/cheatsheet.html" onload="iframeloader.onLoad(event)" data-iframe-loader="display"></iframe>
<iframe src="../templates-2015-08-15-04-23/misc-templates.html" onload="iframeloader.onLoad(event)" data-iframe-loader="display"></iframe>
<iframe src="../templates-2015-08-15-04-23/popup-preview.html" onload="iframeloader.onLoad(event)" data-iframe-loader="display"></iframe>

<script type="text/javascript" src="../piskel-boot-2015-08-15-04-23.js"></script>
