<div class="footer bg4">
  <div class="footer-items">
    <div class="footer-item footer-item-github">
      <img src="/static/resources/footer/footer-item-github-logo.png">
      <div>
        <span class="footer-item-title"><a target="_blank" href="https://github.com/piskelapp/piskel">GitHub</a></span>
        <span>Contribute to the development of <a target="_blank" href="https://github.com/piskelapp/piskel">piskel</a> or <a target="_blank" href="https://github.com/piskelapp/piskel-website">piskel-website</a>.</span>
      </div>
    </div>
    <div class="footer-item footer-item-twitter">
      <img src="/static/resources/footer/footer-item-twitter-logo.png">
      <div>
        <span class="footer-item-title"><a target="_blank" href="https://twitter.com/piskelapp">Twitter</a></span>
        <span>Follow <a target="_blank" href="https://twitter.com/piskelapp">@piskelapp</a> on Twitter to get the latest news.</span>
      </div>
    </div>
    <div class="footer-item footer-item-github">
      <img src="/static/resources/footer/footer-item-support.png">
      <div>
        <span class="footer-item-title"><a href="/faq">Support</a></span>
        <span>
          Read the <a href="/faq">FAQ</a> or contact us on <a href="https://twitter.com/piskelapp">Twitter</a> or by <a href="mailto:julian@piskelapp.com">email</a>.
        </span>
      </div>
    </div>
  </div>
  <div class="footer-logo">
    <img src="/static/resources/logo_transparent_small_compact.png">
  </div>
</div>