{% extends "base.html" %}

{% block title %}Piskel - Terms and Conditions{% endblock %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="/static/css/piskel-app-legal.css"/>
{% endblock %}

{% block main %}

<div class="legal-section  bg0  checkered-bg">
  <div class="legal-section-inner">
    <h1>Terms and Conditions</h1>
    <p>Last updated: May 1st 2017</p>

    <p>
      Please read these terms and conditions ("terms", "terms and conditions") carefully before using the
      <a href="http://piskelapp.com">www.piskelapp.com</a> website (the "service") operated by Piskel("us", "we", or "our").
    </p>

    <p>
      Your access to and use of the service is conditioned on your acceptance of and compliance with these terms. These terms apply to all visitors, users and others who access or use the service.
    </p>

    <p>
      By accessing or using the service you agree to be bound by these terms. If you disagree with any part of the terms then you may not access the service.
    </p>

    <p>
      BY USING OUR SERVICE, YOU AGREE TO TERMS OF USE.
    </p>
  </div>
</div>

<div class="legal-section  bg1  checkered-bg">
  <div class="legal-section-inner">
    <h2>Basics</h2>
    <p>Children under the age of 13 must have a parent or guardian's permission to use the service provided by Piskel and its third parties.</p>

    <p>You may use the services provided by Piskel for your personal or commercial use, and only in a manner that complies with all laws that apply to you. We can't and wont be responsible for your using the services in a way that breaks the law.</p>

    <h2>Cost of use</h2>
    Piskel is a free service.

    <h2>Restrictions of service</h2>
    <p>
      You represent, warrant, and agree that you will not contribute to or otherwise use the services in a manner as of the following (each of the terms is defined below):
    <p>

    <ol>
      <li>
        In a harmful, fraudulent, deceptive, threatening, harassing, defaming, or otherwise objective manner.
      </li>
      <li>
        In a manner that violates the jeopardy of the computer network or infrastructure designed to keep the service functioning.
      </li>
      <li>
        Attempts, in any manner, to obtain the password, account, or other security information from any other use.
      </li>
      <li>
        Violates any law or regulation, including any applicable export control laws.
      </li>
    </ol>

    <h2>Sprites Ownership</h2>
    <p>
      You can use the sprites you created using the service for any purpose, commercial or not. If you save sprites as 'Public', you acknowledge that they might be copied, cloned and reused by other users. Piskel does not hold any right on the content created on the website.
    </p>

    <h2>External Links</h2>
    <p>
      Piskel may provide links to third party websites or resources. You acknowledge and agree that Piskel is not responsible or liable for the content, products, services on or available from such websites or resources. Links to such websites or resources do not imply any endorsement by Piskel of such websites or their content.
    </p>

    <p>
      We strongly advise you to read the terms and conditions and privacy policies of any third-party web sites or services that you visit.
    </p>

    <h2>Uploaded Content</h2>

    <p>
      Piskel is not responsible for any of the content you create and save on your user account. You are entirely responsible for this material and any harm resulting from that content. By uploading content and making it available, you represent and warrant that:
    </p>

    <ol>
      <li>
        You have fully complied with any third-party licenses relating to the content, and have done all things necessary to successfully pass through to end users any required terms.
      </li>
      <li>
        If the content is public, you agree it should be appropriate for all ages. Public content can not be offensive,pornographic, threatening or violate our privacy policy in any way. (children use this website).
      </li>
      <li>
        That you are the owner and have full permission of the content you are uploading.
      </li>
    </ol>

    <p>
      We reserve the right to remove content that doesn't follow the rules stated above.
    </p>

    <h2>Privacy</h2>
    <p>
      Piskel respects your privacy. Please review our privacy policy. The terms of Piskel's privacy policy are incorporated into, and form a part of, these terms.
    </p>

    <h2>Trademarks </h2>
    <p>
      All brand, product and service names used in this service which identify as Piskel or third parties and their products and services are property of Piskel and/or their relevant third parties.
    </p>

    <h2>Changes</h2>
    <p>
      We reserve the right, at our sole discretion, to modify or replace these terms at any time. If a revision is material we will try to provide at least 30 days notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.
    </p>

    <p>
      By continuing to access or use our service after those revisions become effective, you agree to be bound by the revised terms. If you do not agree to the new terms, please stop using the service.
    </p>
  </div>
</div>
{% endblock %}