{% extends "base.html" %}

{% block title %}Piskel - {{ profile_user.name }}{% endblock %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="/static/css/piskel-app-user.css"/>
	<link rel="stylesheet" type="text/css" href="/static/css/piskel-app-previewcard.css"/>
{% endblock %}

{% block main %}
<div class="main-container">
	<div class="user-card">
		<div class="user-avatar-container inset-container">
			<img
				class="user-avatar-big user-avatar"
				src="{{ profile_user.avatar_url }}"
			/>
		</div>
		<div class="user-info-container">
			<h3 class="user-info-header background-title">{{ profile_user.name }}</h3>
			<ul class="user-info-details">
				<li>joined on {{ profile_user.created.strftime("%B %d %Y") }}</li>
				<li>
					<span class="user-info-counter  pskl-counter">{{ profile_stats.piskels_count }}</span>
					{% if profile_stats.piskels_count >= 1 %}
						piskel{% if profile_stats.piskels_count > 1 %}s{% endif %} created
					{% else %}
						hasn't created any piskel yet
					{% endif %}
				</li>
				<li>
					<span class="user-info-counter  pskl-counter">{{ profile_stats.frames_count }}</span> frames of amazing pixels
				</li>
				<li>
					<span class="user-info-counter  pskl-counter">{{ profile_stats.anim_length }}</span> seconds of animation
				</li>
			</ul>
		</div>
	</div>

	<div class="user-piskels">
		<div class="user-piskels-menu-wrapper">
			<ul class="user-piskels-menu">
				{% for c in categories %}
				<li class="user-piskels-menu-item {% if c == category %}selected{% endif %}"><a href="/user/{{ profile_user.key.id() }}/{{c}}">{{c}}</a></li>
				{% endfor %}
			</ul>
		</div>
		<div class="user-piskels-grid">
			{% if profile_piskels %}
				{% for piskel in profile_piskels %}
					{% include "user/user-piskelcard.html" %}
				{% endfor %}
			{% else %}
				<div class="user-piskels-empty-message font-pixel">No piskel available in '{{ category }}' category.</div>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}