{% from "partial/macros.html" import render_animated_preview %}
<div class="card-container{% if piskel.private %} card-container-private{% endif %}">
	<div class="card-preview-container">
		<a class="card-preview-link" href="/p/{{ piskel.key }}/view">
			{{ render_animated_preview(piskel.framesheet_key, piskel.frames, 192, piskel.fps) }}
		</a>
		<div class="card-preview-actions">
			{% if is_own_profile %}
				{% if piskel.deleted %}
					<a class="card-preview-action right" href="#" onclick="if(window.confirm('This will permanently delete your piskel. Continue ?')){window.location='/p/{{ piskel.key }}/perm_delete?callback_url=/user/{{ session.user_id }}/{{category}}'}">Destroy</a>
					<a class="card-preview-action right" href="/p/{{ piskel.key }}/restore?callback_url=/user/{{ session.user_id }}/{{category}}">Restore</a>
				{% else %}
					<a class="card-preview-action right" href="/p/{{ piskel.key }}/delete?callback_url=/user/{{ session.user_id }}/{{category}}">Delete</a>
				<a class="card-preview-action right" href="/p/{{ piskel.key }}/clone/gallery">Clone</a>
					<a class="card-preview-action right" href="/p/{{ piskel.key }}/view">View</a>
					<a class="card-preview-action right bold important" href="/p/{{ piskel.key }}/edit">Edit</a>
				{% endif %}
			{% else %}
				{% if is_logged_in %}
					<a class="card-preview-action right" href="/p/{{ piskel.key }}/clone/gallery">Clone</a>
				{% endif %}
				<a class="card-preview-action right bold important" href="/p/{{ piskel.key }}/view">View</a>
			{% endif %}
		</div>
	</div>
	<div class="card-info-container">
		<h4 class="card-info-name" title="Edit this sprite"><a href="/p/{{ piskel.key }}/edit">{{ piskel.name }}</a></h4>
		<p class="card-info-meta">
			{% if piskel.frames > 1 %}
				<span class="counter">{{ piskel.frames }}</span> frames - <span class="counter">{{ piskel.fps }}</span> fps
			{% else %}
				Single frame
			{% endif %}
		</p>
	</div>
</div>