{% extends "base.html" %}

{% block title %}Piskel - {{ profile_user.name }}{% endblock %}

{% block js %}
  <script type="text/javascript" src="/static/js/piskel-user-settings.js"></script>
{% endblock %}

{% block css %}
  <!-- CSS links go here -->
  <link rel="stylesheet" type="text/css" href="/static/css/piskel-app-user-settings.css"/>
{% endblock %}

{% block main %}
<div class="user-settings-container grow">
  <form action="/user/{{profile_user.key.id()}}/update" method="POST">
    <div class="user-settings-header">
      <span class="user-settings-title">Edit your profile settings</span>
      <button class="piskel-button" id="save-button">Save</button> or
      <button class="piskel-button" id="reset-button">Reset</button>
    </div>
    <div class="user-settings-main">
      <div class="user-settings-avatar">
        <div
          style="background-image: url('{{ profile_user.avatar_url }}');"
          class="user-settings-avatar-preview">
        </div>
        <div class="user-settings-avatar-actions">
          Update your avatar
          <div class="user-settings-avatar-action">
            <button id="upload-avatar-button" class="piskel-button">Upload your avatar</button>
          </div>
          or
          <div class="user-settings-avatar-action">
            <button id="no-avatar-button" class="piskel-button">Use default avatar</button>
          </div>
        </div>
        <input type="hidden" class="user-settings-input" name="avatar" value="{{ profile_user.avatar_url }}">
        <input type="file" class="user-settings-input" name="file" value="file" accept="image/*" style="display:none" >
      </div>
      <div class="user-settings-sections">
        <div class="user-settings-section user-settings-name">
          <div class="user-settings-section-title">Your display name</div>
          <div class="user-settings-input">
            <span class="user-settings-label">Name</span>
            <input type="text" class="user-settings-input"  name="name" placeholder="Your name" value="{{ profile_user.name }}">
          </div>
        </div>
        <div class="user-settings-section user-settings-about">
          <div class="user-settings-section-title">About you</div>
          <div class="user-settings-section-description">Optional. Will be displayed on your user page.</div>
          <div class="user-settings-input">
            <span class="user-settings-label">Location</span>
            <input type="text" class="user-settings-input" name="location" placeholder="Your location" value="{{ profile_user.location }}">
          </div>
          <div class="user-settings-input">
            <span class="user-settings-label">Your bio</span>
            <textarea rows="5" maxlength="300" class="user-settings-bio" name="bio">{{ profile_user.bio }}</textarea>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      window.__pageInfo = {
        userid: "{{ profile_user.key.id() }}",
        avatar: "{{ profile_user.avatar_url }}",
        name: "{{ profile_user.name }}",
        location: "{{ profile_user.location }}",
        bio: "{{ profile_user.bio }}",
        DEFAULT_AVATAR_URL: "{{ DEFAULT_AVATAR_URL }}"
      };
    </script>
  </form>
</div>
{% endblock %}