{% extends "base.html" %}

{% block title %}Piskel - {{ profile_user.name }}{% endblock %}

{% block js %}
  <script type="text/javascript" src="/static/js/piskel-user.js"></script>
{% endblock %}
{% block css %}
  <link rel="stylesheet" type="text/css" href="/static/css/piskel-app-user.css"/>
  <link rel="stylesheet" type="text/css" href="/static/css/piskel-app-previewcard.css"/>
{% endblock %}

{% block main %}
<div class="main-container">
  <div class="user-card">
    <div class="user-avatar-container inset-container">
      <img
        class="user-avatar-big user-avatar"
        src="{{ profile_user.avatar_url }}"
      />
    </div>
    <div class="user-info-container">
      <h3 class="user-info-header background-title">{{ profile_user.name }}</h3>
      <ul class="user-info-details">
        <li>joined on {{ profile_user.created.strftime("%B %d %Y") }}</li>
        <li>
          <span class="user-info-counter  pskl-counter" id="piskels-count">&hellip;</span> piskels created
        </li>
        <li>
          <span class="user-info-counter  pskl-counter" id="frames-count">&hellip;</span> animation frames
        </li>
        <li>
          <span class="user-info-counter  pskl-counter" id="animation-duration">&hellip;</span> seconds of animation
        </li>
      </ul>
    </div>
  </div>

  <div class="user-piskels">
    <div class="user-piskels-menu-wrapper">
      <ul class="user-piskels-menu">
        {% for c in categories %}
        <li class="user-piskels-menu-item {% if c == category %}selected{% endif %}"><a href="/user/{{ profile_user.key.id() }}/{{c}}">{{c}}</a></li>
        {% endfor %}
      </ul>
    </div>
    <div class="user-piskels-grid">
      <div class="user-piskels-empty-message">
            Loading user sprites...
        </div>
    </div>
  </div>

  <script type="text/javascript">
    window.__pageInfo = {
      userid: "{{ profile_user.key.id() }}",
      category: "{{ category }}",
      isOwnProfile: {% if is_own_profile %}true{% else %}false{% endif %}
    }
  </script>
</div>
{% endblock %}